<ion-header>
  <ion-toolbar color="warning">
    <ion-icon name="arrow-round-back" routerLink="/home" class="larger"></ion-icon>
    <ion-title position="centre">Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card padding color="light">
    <ion-item>
        <ion-label position="floating" type="text" name="name"></ion-label>
        <ion-input [(ngModel)]="item.name" >Name:</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" type="number"name="price"></ion-label>
        <ion-input [(ngModel)]="item.price">Price:</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" type="text"name="type"></ion-label>
        <ion-input [(ngModel)]="item.type">Type:</ion-input>
    </ion-item>
    <br>
      <ion-button color="warning"  (click)="update(item, item.key)" expand="block">Update</ion-button>
      <ion-button color="warning"  (click)="delete(item, item.key)" expand="block">Delete</ion-button>
</ion-card>
</ion-content>
