<ion-header>
  <ion-toolbar color="warning">
    <ion-title position="centre">
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-item *ngFor="let grocery of itemList"(click)="onSelect(grocery)">
      {{grocery.name}}
      {{grocery.price}}
      {{grocery.type}}
    
      
    </ion-item>
    <br>
    <ion-button color="warning"  routerLink="/add-item" expand="block">Add Item</ion-button>
    <ion-button color="warning"  (click)="signOut()" expand="block">Log Out</ion-button>
  </ion-card>
    
    <!--<ion-button color="secondary"  (click)="update()">Update</ion-button>-->
</ion-content>


